/* Original CSS for the switch */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 50px;
  position: relative;
}

label.switch-label:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 45px;
  transition: 0.3s;
}

input:checked + label.switch-label {
  background: grey;
}

input:checked + label.switch-label:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
}

label.switch-label:active:after {
  width: 65px;
}

/* Additional CSS for the switch container */
.switch-container {
  margin-top: 10px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
