.switch-container {
    display: flex;
    align-items: center;
  }
  
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .text-center {
    text-align: center;
  }
  
  #switch {
    display: none;
  }
  
  .switch-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 8px;
    border-radius: 15px;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  #switch:checked + .switch-label {
    background-color: #ccc; /* Grey background color when checked */
  }
  